name: YouTube Visibility Automation

on:
  workflow_dispatch:
  schedule:
    - cron: "*/15 * * * *"

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install google-api-python-client google-auth google-auth-oauthlib

      - name: Create client_secret.json
        run: |
          echo '${{ secrets.CLIENT_SECRET_JSON }}' > client_secret.json

      - name: Run automation
        run: |
          python main.py
